    .logo {
        background: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
        border: 0px !important;
    }

    .reveal section img {
        background: 0 !important;
        border: 0 !important;
    }

    .highlight {
        background: rgba(10, 10, 10, 0.7);
    }

    .line { display: block; }
    .line.hover { background: yellow; }
    .line.focus { background: #444; }

    .line.focus .hljs-comment, .line.focus .hljs-quote { color: #adbbbf; }

    .reveal .slides section .fragment.current-only {
        opacity: 1;
        visibility: visible;
        display: none;
    }

    .reveal .slides section .fragment.current-only.current-fragment {
        display: block;
    }
